.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(33, 37, 41, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 16px;
    /* щоб модалка не впиралась в краї на мобілках */
}

.modal {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeInScale 0.25s ease-out;
}

/* Анімація появи */
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}